html {
  box-sizing: border-box;
  color: #f0eee8;
  font: normal 100%/1.5 Georgia, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.link-card {
  display: block;
  text-decoration: none;
  color: #512200;
  background-color: #dcd4cd;
  border: solid;
  border-color: #9a816d;
  padding: 1em;
}

.link-card:hover {
  background-color: #cabdb2;
}

.link-card h2 {
  font-family: Dosis, sans-serif;
  margin: 0;
  font-weight: bold;
  padding-bottom: .75em;
}

.btn {
  font-family: Dosis, sans-serif;
  color: #f0eee8;
  background-color: #785439;
  padding: .4em .75em .5em;
  border-radius: 8px;
  border-width: 3px;
  font-size: 1.125em;
  font-style: normal;
  font-weight: bold;
}

div {
  text-align: center;
  border-top: 2px solid #9a816d;
  padding-top: 1em;
}

.btn:hover {
  background-color: #512200;
  border-radius: 3px;
}

p {
  font-family: Georgia;
  padding-bottom: 1em;
  margin: 0;
}

dl {
  font-family: Georgia;
  font-size: .875em;
  padding-top: 1em;
  padding-bottom: 1em;
  margin: 0;
  border-top: 2px solid #9a816d;
}

dd {
  display: inline-block;
  font-style: italic;
  margin: 0;
  width: 45%;
}

dt {
  display: inline-block;
  width: 45%;
  margin: 0;
}
